body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0%;
    padding: 0;
    background-color: rgb(99, 30, 30);
    color:black;
    text-align: center;
    
    }

    header{
        background:rgb(255, 255, 255);
        color: rgb(168, 140, 140);
        padding: 20px;
        font-size: 24px;
    }


    section{
        background:rgb(246, 241, 222);
        margin: 20px auto;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(red, green, blue, alpha);
        max-width: 600px;

    }
    h1{
        color:rgb(92, 114, 133);
        margin: 20px auto;
        padding: 20px;

    }

    ul, ol{
        text-align: left;
        padding: 15px;
        color: black;
    }

    h2{
        color: rgb(92, 114, 133);
    }

    ul,li,ol,li{
        background: rgb(167, 180, 158);
        margin: 5px 0;
        padding: 10px;
        border-radius: 15px;
        list-style-position: inside;
        transition: background-color 2.5s ease;
    }

    iframe{
        border: none;
        width: 100%;
        height: 350px;
        border-radius: 15px;
        margin-top: 10px;
    }

    footer,h1,ol{
        background:rgb(92, 114, 133) ;
        color: white;
        padding: 10px;
        margin-top: 20px;
        border-radius: 15px;
 
    }

    ol li:hover
    {
        background-color: rgb(53, 8, 253);
    }